<div class="pks-education">
    <h2 class="section-title">Education</h2>
    <div class="list-container">
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="right">
                <p class="date">2015-2019</p>
                <h3 class="degree">Bachelor's in Electronics and Communication Engineering</h3>
                <h4 class="university">Thapathali Campus, Tribhuvan University (TU), Nepal</h4>
            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="right">
                <p class="date">2013-2015</p>
                <h3 class="degree">HSEB/+2 | Science</h3>
                <h4 class="university">St. Xavier's College, Nepal</h4>
            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="right">
                <p class="date">2013</p>
                <h3 class="degree">School Leaving Certificate (SLC)</h3>
                <h4 class="university">Lalitpur Secondary Boarding School (LMV), Nepal</h4>
            </div>
        </div>
    </div>
</div>