<div class="pks-education">
    <h2 class="section-title">Education</h2>
    <div class="list-container">
        <div class="list-item" id="collegeEducation">
            <div class="left">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="right">
                <p class="date">2015 - 2019</p>
                <h3 class="degree">Bachelor's in Electronics and Communication Engineering (BEX)</h3>
                <h4 class="university">
                    Thapathali Campus, Tribhuvan University (TU), Nepal
                    <a class="link-opener" href="https://www.tcioe.edu.np/" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </h4>
                <div class="description">
                    <ul>
                        <li>Among <strong>Top 5</strong> students who completed the program without any backlog</li>
                        <li>Computer Programming (C), Object-Oriented Programming (C++), Microprocessor</li>
                        <li>Computer Organization and Architecture, Computer Graphics, Computer Network, Discrete Structure</li>
                        <li>Artificial Intelligence, Big Data Technologies, Data Mining</li>
                        <li>Calculus, Linear Algebra, Probability & Statistics</li>
                        <li>
                            <strong>Minor Capstone Project</strong>: Alcohol Detector with Vehicle Controlling and GPS Detection
                            <a class="link-opener" (click)="scrollToSection('minorCollegeProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </li>
                        <li>
                            <strong>Major Capstone Project</strong>: IoT based Smart Mirror
                            <a class="link-opener" (click)="scrollToSection('majorCollegeProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="right">
                <p class="date">2013 - 2015</p>
                <h3 class="degree">HSEB/+2, Science</h3>
                <h4 class="university">
                    St. Xavier's College, Nepal
                    <a class="link-opener" href="https://sxc.edu.np/" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </h4>
            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="right">
                <p class="date">2013</p>
                <h3 class="degree">School Leaving Certificate (SLC)</h3>
                <h4 class="university">
                    Lalitpur Madhyamik Vidhyalaya (LMV), Nepal
                    <a class="link-opener" href="http://lmv.edu.np/" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </h4>
                <div class="description">
                    <ul>
                        <li>Batch Topper</li>
                        <li>Class Captain</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>