<div class="layout-wrapper">
    <div class="menu">
        <i class="fa-solid fa-bars" (click)="toggleSidenav()"></i>
    </div>
    <div class="sidenav-wrapper" [ngClass]="{'show': isSideNavOpen}">
        <pks-sidenav></pks-sidenav>
    </div>
    <div class="content-wrapper" (click)="toggleSidenav(true)">
        <div class="section-wrapper" id="home">
            <pks-welcome></pks-welcome>
        </div>
        <div class="section-wrapper" id="about">
            <pks-about></pks-about>
        </div>
        <div class="section-wrapper" id="education">
            <pks-education></pks-education>
        </div>
        <div class="section-wrapper" id="experience">
            <pks-experience></pks-experience>
        </div>
        <div class="section-wrapper" id="skills">
            <pks-skill></pks-skill>
        </div>
        <div class="section-wrapper" id="certificates">
            <pks-certificate></pks-certificate>
        </div>
        <div class="section-wrapper" id="projects">
            <pks-project></pks-project>
        </div>
        <div class="section-wrapper" id="extraActivity">
            <pks-extra-activity></pks-extra-activity>
        </div>
    </div>
</div>