<div class="layout-wrapper">
    <div class="sidenav-wrapper">
        <pks-sidenav></pks-sidenav>
    </div>
    <div class="content-wrapper">
        <div class="section-wrapper" id="welcomeSection">
            <pks-welcome></pks-welcome>
        </div>
        <div class="section-wrapper" id="aboutSection">
            <pks-about></pks-about>
        </div>
        <div class="section-wrapper" id="educationSection">
            <pks-education></pks-education>
        </div>
        <div class="section-wrapper" id="experienceSection">
            <pks-experience></pks-experience>
        </div>
        <div class="section-wrapper" id="skillSection">
            <pks-skill></pks-skill>
        </div>
    </div>
</div>