<div class="layout-wrapper">
    <div class="sidenav-wrapper">
        <pks-sidenav></pks-sidenav>
    </div>
    <div class="content-wrapper">
        <div class="section-wrapper" id="home">
            <pks-welcome></pks-welcome>
        </div>
        <div class="section-wrapper" id="about">
            <pks-about></pks-about>
        </div>
        <div class="section-wrapper" id="education">
            <pks-education></pks-education>
        </div>
        <div class="section-wrapper" id="experience">
            <pks-experience></pks-experience>
        </div>
        <div class="section-wrapper" id="skills">
            <pks-skill></pks-skill>
        </div>
        <div class="section-wrapper" id="extraActivity">
            <pks-extra-activity></pks-extra-activity>
        </div>
    </div>
</div>