<div class="pks-experience">
    <h2 class="section-title">Experience</h2>
    <div class="list-container">
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <p class="date">September, 2019 - Present</p>
                <h3 class="designation">Software Development Engineer</h3>
                <h4 class="office">
                    Dolphin Dive Technology Pvt. Ltd.
                    <a class="link-opener" href="https://dolphindivetech.com/" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </h4>
                <div class="description">
                    <ul>
                        <li>A small river named Duden flows by their place and supplies it with the necessary regelialia.</li>
                        <li>A small river named Duden flows by their place.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <p class="date">November, 2018 - July, 2019</p>
                <h3 class="designation">Web Developer</h3>
                <h4 class="office">
                    Nectar Digit Pvt. Ltd.
                    <a class="link-opener" href="https://www.nectardigit.com/" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </h4>
                <div class="description">
                    <ul>
                        <li>A small river named Duden flows by their place and supplies it with the necessary regelialia.</li>
                        <li>A small river named Duden flows by their place.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>