<div class="pks-experience">
    <h2 class="section-title">Experience</h2>
    <div class="list-container">
        <div class="list-item" id="dolphinDiveExperience">
            <div class="left sub-topic-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-left sub-topic-icon along-header">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="right-right">
                        <p class="date">September, 2019 - Present</p>
                        <h3 class="designation">Software Development Engineer</h3>
                        <h4 class="office">
                            Dolphin Dive Technology Pvt. Ltd.
                            <a class="link-opener" href="https://dolphindivetech.com/" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li>Worked on desktop and web applications of <strong>Pension Pro</strong> - a leading workflow management software company in the <strong>USA</strong></li>
                        <li>In a team, redeveloped windows desktop application in web using Angular and .NET</li>
                        <li>Database management including design, create, modify, and optimize using SQL Server</li>
                        <li>Resolved more than 200 production bugs along with research and development of new features</li>
                        <li>Peer-reviewed with developers for checking redundancy, minimizing errors and maintaining company code pattern</li>
                        <li>Helped new developers about the underlying business specific knowledge, project structure, development and debugging, utilizing the role of senior developer</li>
                        <li>For more information, click here
                            <a class="link-opener" (click)="scrollToSection('pensionProProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item" id="athrillTechnologyExperience">
            <div class="left sub-topic-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-left sub-topic-icon along-header">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="right-right">
                        <p class="date">December, 2019 - Present</p>
                        <h3 class="designation">Software Developer | Leader | Founder</h3>
                        <h4 class="office">
                            Athrill Technology
                            <a class="link-opener" href="https://techathrill.com/" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li>Founded a team (Athrill Technology) at the end of 2019 to teach programming to interested people, develop skills among the team, and work on innovative ideas</li>
                        <li>Lead the team of a web designer, software developers, and quality control testers</li>
                        <li>Tutored software development to more than 5 new developers from scratch to real-world projects</li>
                        <li>Discussed different innovative ideas within a team and related professional people, and possibilities to implement them</li>
                        <li>Designed and planned development of the softwares, and divided the tasks among the team to work on SCRUM process</li>
                        <li><strong>Technology</strong>: C#, .NET, MSSQL, Angular (with Angular Material), React, Flutter, Android, Java, Azure Devops, CI-CD</li>
                        <li><strong>Projects</strong>: Athrill Technology Website
                            <a class="link-opener" (click)="scrollToSection('athrillTechnologyProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>| Learn Nepal
                            <a class="link-opener" (click)="scrollToSection('learnNepalAthrillProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>| Inventory System
                            <a class="link-opener" (click)="scrollToSection('inventoryAthrillProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>| Athrill Gyan
                            <a class="link-opener" (click)="scrollToSection('gyanAthrillProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>| Mangal Production
                            <a class="link-opener" (click)="scrollToSection('mangalAthrillProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item" id="rihamFreelanceExperience">
            <div class="left sub-topic-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-left sub-topic-icon along-header">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="right-right">
                        <p class="date">April, 2020 - Present</p>
                        <h3 class="designation">Freelancer - Software Development </h3>
                        <h4 class="office">
                            Riham of Information Technology, Saudi Arabia
                        </h4>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li>Freelanced a few projects of the company from Saudi Arabia</li>
                        <li>Used C#, .NET, Angular, Flutter, and PostgreSQL</li>
                        <li>Wrote optimized code to process a large number of data in Twitter Analytic Services</li>
                        <li>Developed live chat services</li>
                        <li>Designed database for complex business requirement of Dating App</li>
                        <li><strong>Projects</strong>: Twiter Analytic Services
                            <a class="link-opener" (click)="scrollToSection('twitterAnalyticsProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a> | Dating App Services
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item" id="nectardigitExperience">
            <div class="left sub-topic-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-left sub-topic-icon along-header">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="right-right">
                        <p class="date">November, 2018 - July, 2019</p>
                        <h3 class="designation">Web Developer</h3>
                        <h4 class="office">
                            Nectar Digit Pvt. Ltd.
                            <a class="link-opener" href="https://www.nectardigit.com/" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li>Designed, planned and developed the web application according to the business requirements with a constant communication with client</li>
                        <li>Tutored basic and real-world programming to interns</li>
                        <li>Completed a web application <strong>CCSNepal</strong>, a <strong>Job Portal</strong>, with the help of PHP, Code Igniter, Javascript, jQuery, HTML, and CSS
                            <a class="link-opener" (click)="scrollToSection('ccsNepalProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </li>
                        <li>Helped colleague in service side code using Code Igniter and client side using jQuery to develop the <strong>News Portal - Capital Nepal</strong>
                            <a class="link-opener" (click)="scrollToSection('capitalNepalProject')" title="Click to view the detail of the project">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>