<div class="pks-experience">
    <h2 class="section-title">Experience</h2>
    <div class="list-container">
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <p class="date">September, 2019 - Present</p>
                <h3 class="designation">Software Development Engineer</h3>
                <h4 class="office">Dolphin Dive Technology Pvt. Ltd.</h4>
            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="right">
                <p class="date">November, 2018 - July, 2019</p>
                <h3 class="designation">Web Developer</h3>
                <h4 class="office">Nectar Digit Pvt. Ltd.</h4>
            </div>
        </div>
    </div>
</div>