html {
    scroll-behavior: smooth;
    body {
        font-family: "Poppins", Arial, sans-serif;
        background: #fff;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: #999;
        margin: 0;
        padding: 0;
        p {
            margin: 0;
        }
        .text-center {
            text-align: center;
        }
        .section-title {
            font-size: 45px;
            font-weight: 700;
            color: black;
            margin-bottom: 38px;
            position: relative;
            &::before {
                content: "";
                width: 100px;
                border-bottom: 6px solid #3e64ff;
                position: absolute;
                bottom: 5px;
                left: 0;
            }
        }
    }
}