html {
    scroll-behavior: smooth;
    body {
        font-family: "Poppins", Arial, sans-serif;
        background: #fff;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: #999;
        margin: 0;
        padding: 0;
        p {
            margin: 0;
        }
        .text-center {
            text-align: center;
        }
        .section-title {
            font-size: 45px;
            font-weight: 700;
            color: black;
            margin-bottom: 45px;
            position: relative;
            &::before {
                content: "";
                width: 100px;
                border-bottom: 6px solid #3e64ff;
                position: absolute;
                bottom: 5px;
                left: 0;
            }
        }
        .link-opener {
            text-decoration: none;
            cursor: pointer;
            color: #999;
            margin: 0 10px;
            font-size: 18px;
            .topic {
                font-size: 16px;
                margin-right: 5px;
            }
            .fa-git-alt {
                font-size: 22px;
            }
        }
    }
}

:root {
    --sidenav-width: 330px;
}

@media (max-width: 992px) {
     :root {
        --sidenav-width: 250px;
    }
}

@media (max-width: 768px) {
     :root {
        --sidenav-width: 200px;
    }
}

// // Extra small devices (portrait phones, less than 576px) 
// // No media query since this is the default when you write mobile first 
// // Small devices (landscape phones, 576px and up) 
// @media (min-width: 576px) { ... } 
// // Medium devices (tablets, 768px and up) 
// @media (min-width: 768px) { ... } 
// // Large devices (desktops, 992px and up) 
// @media (min-width: 992px) { ... } 
// // Extra large devices (large desktops, 1200px and up) 
// @media (min-width: 1200px) { ... }