<div class="pks-project">
    <h2 class="section-title">Project</h2>
    <div class="list-container">
        <div class="list-item" id="pensionProProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/pension-pro.jpg" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Pension Pro - Workflow Management System
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://pensionpro.com/' }"></ng-container>
                    </h3>
                    <h4 class="owner">
                        Dolphin Dive Technology Pvt. Ltd.
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://dolphindivetech.com/' }"></ng-container>
                    </h4>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Dolphin Dive Technology outsources the development work of leading workflow management software <strong>PensionPro</strong> located in the USA</li>
                    <li><strong>Technology</strong>: C#, .NET, WEB API, Razor, JavaScript, Typescript, Angular, Angular Material, jQuery, MSSQL, Entity Framework, MongoDB, Azure Services</li>
                    <li>In a team, redeveloped windows desktop application in web using Angular and .NET</li>
                    <li>Resolved more than 200 production bugs</li>
                    <li>Database management including design, create, modify, and optimize using SQL Server</li>
                    <li>Integrated Third Party libraries such as Telerik Kendo UI, Braintree, DocuSign, SendGrid</li>
                    <li>Implemented Cloud Services like Azure Blob Storage, Azure Queue, Azure Redis Cache, Rackspace to manage the data in cloud</li>
                    <li>Decreased database load by implementing Redis Cache and optimizing the database queries with the help of Azure Data Studio profiler</li>
                    <li>Developed Azure Function and Console Application to logically migrate millions of records in database, and files from one cloud storage to another</li>
                    <li>Imported and exported large data in Excel format with the help of GemBox library</li>
                    <li>Researched and developed Single Sign-On (SSO) Feature</li>
                    <li>To meet the company's own requirement, modified open-source code (GIT) to develop the communication between Azure Devops VSTS and Zendesk</li>
                    <li>Broke down WEB APIs to follow microservice architecture and decreased the load on server</li>
                    <li>Peer-reviewed with developers for checking redundancy, minimizing errors and maintaining company code pattern</li>
                    <li>Helped new developers about the underlying business specific knowledge, project structure, development and debugging, utilizing the role of senior developer</li>
                    <li>Reviewed code of the junior developers in the absence of Team Lead and merge Pull Requests</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Portfolio Website
                    </h3>
                    <h4 class="owner">
                        Self Project
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="ccsNepalProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/ccs-nepal.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        CCS Nepal - Job Portal
                    </h3>
                    <h4 class="owner">
                        Nectar Digit Pvt. Ltd.
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://nectardigit.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://www.ccsnepal.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Multi-vendor Job Portal</li>
                    <li><strong>Technology</strong>: PHP, Code Igniter, JavaScript, jQuery, AJAX, HTML, CSS</li>
                    <li>Created the entire application alone: database, service side codes, and client side codes</li>
                    <li>Designed, planned and developed the web application according to the business requirements with a constant communication with client</li>
                    <li>Developed complex User Management System with a chain verification and report management system</li>
                    <li>Extracted the data from CSV file and inserted them into database</li>
                    <li>Wrote code to auto generate the PDF of CV from the profile of the customer</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="capitalNepalProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/capital-nepal.png" style="object-fit: contain;" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Capital Nepal - News Portal
                    </h3>
                    <h4 class="owner">
                        Nectar Digit Pvt. Ltd.
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://nectardigit.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://www.capitalnepal.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Popular News Portal of the country</li>
                    <li><strong>Technology</strong>: PHP, Code Igniter, JavaScript, jQuery, AJAX, HTML, CSS</li>
                    <li>Helped colleague developer, especially in Code Igniter, JavaScript, and jQuery</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/athrill-technology-logo.png" style="object-fit: contain;" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Dynamic Website of Athrill Technology
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://www.techathrill.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A fully dynamic responsive website of my team company - Athrill Technology</li>
                    <li><strong>Technology</strong>: C#, .NET CORE WEB API, Javascript, Typescript, Angular (Angular Universal Integrated), MSSQL, HTML, SCSS</li>
                    <li>Application divided into client site, admin panel, and APIs</li>
                    <li>Designed, planned and distributed the tasks among the team to work on SCRUM process</li>
                    <li>Lead the team to develop the software</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/capital-nepal.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Athrill Inventory Management System
                    </h3>
                    <h4 class="owner">
                        Self Project - Athrill Technology
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://play.google.com/store/apps/details?id=com.techathrill.aim' }"></ng-container>
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/inventory-management-system' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A small river named Duden flows by their place and supplies it with the necessary regelialia.</li>
                    <li>A small river named Duden flows by their place.</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Learn Nepal
                    </h3>
                    <h4 class="owner">
                        Self Project - Athrill Technology
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Hambro Bandhan
                    </h3>
                    <h4 class="owner">
                        Self Project - Athrill Technology
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Athrill Gyan
                    </h3>
                    <h4 class="owner">
                        Self Project - Athrill Technology
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="minorCollegeProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/alcohol-detector-vehicle-coltrolling.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Alcohol Detector with Vehicle Controlling and GPS Detection
                    </h3>
                    <h4 class="owner">
                        Capstone Project in College - BEX
                        <a class="link-opener" (click)="scrollToSection('collegeEducation')" title="Click to view the education">
                            <i class="fa-solid fa-link"></i>
                        </a>
                    </h4>
                    <div class="links">
                        <a class="link-opener" href="../../../assets/documents/minor_project_alcohol_detector.pdf" title="Click to view the report" target="_blank">
                            <span class="topic">View Report</span><i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/inventory-management-system' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A small river named Duden flows by their place and supplies it with the necessary regelialia.</li>
                    <li>A small river named Duden flows by their place.</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="majorCollegeProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/capital-nepal.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        IOT based Smart Mirror
                    </h3>
                    <h4 class="owner">
                        Capstone Project in College - BEX
                        <a class="link-opener" (click)="scrollToSection('collegeEducation')" title="Click to view the education">
                            <i class="fa-solid fa-link"></i>
                        </a>
                    </h4>
                    <div class="links">
                        <a class="link-opener" href="../../../assets/documents/major_project_iot_smart_mirror.pdf" title="Click to view the report" target="_blank">
                            <span class="topic">View Report</span><i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/inventory-management-system' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A small river named Duden flows by their place and supplies it with the necessary regelialia.</li>
                    <li>A small river named Duden flows by their place.</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Flutter Chat Application
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Twiter Analytic Service
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Legal Corporation
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Dating App
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Point of Sale (PoS)
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #githubLink let-url="url">
    <a class="link-opener" [href]="url" target="_blank" title="Click to open the Git Repository">
        <span class="topic">Github</span><i class="fa-brands fa-git-alt"></i>
    </a>
</ng-template>
<ng-template #projectLink let-url="url">
    <a class="link-opener" [href]="url" target="_blank" title="Click to view the project">
        <span class="topic">View</span><i class="fa-solid fa-up-right-from-square"></i>
    </a>
</ng-template>
<ng-template #normalLink let-url="url">
    <a class="link-opener" [href]="url" target="_blank">
        <i class="fa-solid fa-up-right-from-square"></i>
    </a>
</ng-template>