<div class="pks-project">
    <h2 class="section-title">Project</h2>
    <div class="list-container">
        <div class="list-item" id="pensionProProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/pension-pro.jpg" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Pension Pro - Workflow Management System
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://pensionpro.com/' }"></ng-container>
                    </h3>
                    <h4 class="owner">
                        Dolphin Dive Technology Pvt. Ltd.
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://dolphindivetech.com/' }"></ng-container>
                    </h4>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Dolphin Dive Technology outsources the development work of leading workflow management software <strong>PensionPro</strong> located in the USA</li>
                    <li><strong>Technology</strong>: C#, .NET, WEB API, Razor, JavaScript, Typescript, Angular, Angular Material, jQuery, MSSQL, Entity Framework, MongoDB, Azure Services</li>
                    <li>In a team, redeveloped windows desktop application in web using Angular and .NET</li>
                    <li>Resolved more than 200 production bugs</li>
                    <li>Database management including design, create, modify, and optimize using SQL Server</li>
                    <li>Integrated Third Party libraries such as Telerik Kendo UI, Braintree, DocuSign, SendGrid</li>
                    <li>Implemented Cloud Services like Azure Blob Storage, Azure Queue, Azure Redis Cache, Rackspace to manage the data in cloud</li>
                    <li>Decreased database load by implementing Redis Cache and optimizing the database queries with the help of Azure Data Studio profiler</li>
                    <li>Developed Azure Function and Console Application to logically migrate millions of records in database, and files from one cloud storage to another</li>
                    <li>Imported and exported large data in Excel format with the help of GemBox library</li>
                    <li>Researched and developed Single Sign-On (SSO) Feature</li>
                    <li>To meet the company's own requirement, modified open-source code (GIT) to develop the communication between Azure Devops VSTS and Zendesk</li>
                    <li>Broke down WEB APIs to follow microservice architecture and decreased the load on server</li>
                    <li>Peer-reviewed with developers for checking redundancy, minimizing errors and maintaining company code pattern</li>
                    <li>Helped new developers about the underlying business specific knowledge, project structure, development and debugging, utilizing the role of senior developer</li>
                    <li>Reviewed code of the junior developers in the absence of Team Lead and merge Pull Requests</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="ccsNepalProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/ccs-nepal.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        CCS Nepal - Job Portal
                    </h3>
                    <h4 class="owner">
                        Nectar Digit Pvt. Ltd.
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://nectardigit.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://www.ccsnepal.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Multi-vendor Job Portal</li>
                    <li><strong>Technology</strong>: PHP, Code Igniter, JavaScript, jQuery, AJAX, HTML, CSS</li>
                    <li>Created the entire application alone: database, service side codes, and client side codes</li>
                    <li>Designed, planned and developed the web application according to the business requirements with a constant communication with client</li>
                    <li>Developed complex User Management System with a chain verification and report management system</li>
                    <li>Extracted the data from CSV file and inserted them into database</li>
                    <li>Wrote code to auto generate the PDF of CV from the profile of the customer</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="capitalNepalProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/capital-nepal.png" style="object-fit: contain;" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Capital Nepal - News Portal
                    </h3>
                    <h4 class="owner">
                        Nectar Digit Pvt. Ltd.
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://nectardigit.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://www.capitalnepal.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Popular News Portal of the country</li>
                    <li><strong>Technology</strong>: PHP, Code Igniter, JavaScript, jQuery, AJAX, HTML, CSS</li>
                    <li>Helped colleague developer, especially in Code Igniter, JavaScript, and jQuery</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="athrillTechnologyProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/athrill-technology-logo.png" style="object-fit: contain;" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Dynamic Website of Athrill Technology
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                        <a class="link-opener" (click)="scrollToSection('athrillTechnologyExperience')" title="Click to view the experience">
                            <i class="fa-solid fa-link"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://www.techathrill.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A fully dynamic responsive website of my team company - Athrill Technology</li>
                    <li><strong>Technology</strong>: C#, .NET CORE WEB API, Javascript, Typescript, Angular (Angular Universal Integrated), MSSQL, HTML, SCSS</li>
                    <li>Application divided into client site, admin panel, and APIs</li>
                    <li>Designed, planned and distributed the tasks among the team to work on SCRUM process</li>
                    <li>Lead the team to develop the software</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="learnNepalAthrillProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/learn-nepal.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Learn Nepal - Learning Platform
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                        <a class="link-opener" (click)="scrollToSection('athrillTechnologyExperience')" title="Click to view the experience">
                            <i class="fa-solid fa-link"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'http://ln-test.techathrill.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>After <strong>Athrill Gyan</strong>, we (Athrill Technology team) decided to create <strong>Learning Platform</strong> in web and mobile for Nepal, considering the lack of good learning platform in Nepal.</li>
                    <li><strong>Technology</strong>: .NET - WEB API, MSSQL, Javascript, Typescript, Angular, Angular Material, Flutter, Dart, Figma, Azure Devops, CI-CD, HTML, SCSS</li>
                    <li>Divided into 4 parts: Backend Services, Support Site to manage data, Site for clients, and Mobile application</li>
                    <li>Discussed with the team and professional people of education to make the application most effective</li>
                    <li>Led a team for whole process: planning of the project and features to be added, design in Figma, database design and management, backend services development, and frontend web application</li>
                    <li>Created a mobile application in flutter following BLOC architecutre</li>
                    <li>Developed custom OData feature as per the business requirement</li>
                    <li>Developed Support Site to manage data which contains custom grid features such as filters, pagination, sorting</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="gyanAthrillProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/athrill-gyan.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Athrill Gyan
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                        <a class="link-opener" (click)="scrollToSection('athrillTechnologyExperience')" title="Click to view the experience">
                            <i class="fa-solid fa-link"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://play.google.com/store/apps/details?id=com.techathrill.athrillgyan' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Idea generated in a group dicussion to develop something for education</li>
                    <li>Mobile application developed to give knowledge with MCQ questions, Artiles, Stories, Riddles and Games</li>
                    <li><strong>Technology</strong>: Java, Android, .NET - WEB API, MSSQL</li>
                    <li>Designed, Planned and developed the software</li>
                    <li>Led a team of android developer and .NET, and support them by teaching and coding complex feature</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="inventoryAthrillProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/athrill-inventory-management-system.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Athrill Inventory Management System
                    </h3>
                    <h4 class="owner">
                        Self Project - Athrill Technology
                        <a class="link-opener" (click)="scrollToSection('athrillTechnologyExperience')" title="Click to view the experience">
                            <i class="fa-solid fa-link"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'https://play.google.com/store/apps/details?id=com.techathrill.aim' }"></ng-container>
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/inventory-management-system' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Mobile application to manage the personal transactions (along with data visualization) and card informations (with QR Code)</li>
                    <li><strong>Technology</strong>: Flutter, BLOC Architecture, .NET - WEB API, MSSQL</li>
                    <li>Designed, Planned and developed the software</li>
                    <li>Gave SAAS feature to the application for both company users and individual users</li>
                    <li>Implemented authentication using username-password and biometrics</li>
                    <li>Created database, developed WEB API and Flutter Mobile Application</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="mangalAthrillProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/hamrobandhan.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Mangal Production
                    </h3>
                    <h4 class="owner">
                        Athrill Technology
                        <a class="link-opener" (click)="scrollToSection('athrillTechnologyExperience')" title="Click to view the experience">
                            <i class="fa-solid fa-link"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="normalLink" [ngTemplateOutletContext]="{ url:'https://techathrill.com/' }"></ng-container>
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="projectLink" [ngTemplateOutletContext]="{ url:'http://mangalproduction.com/' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A fully dynanic website of Event Orgranizing Company </li>
                    <li><strong>Technology</strong>: .NET - WEBA API, MSSQL, React</li>
                    <li>Designed and planned the project with constant communication with the Client</li>
                    <li>Led a team of designer and developer, and worked in complex feature like booking system in both React and .NET</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="twitterAnalyticsProject">
            <div class="top-container">
                <div class="right">
                    <h3 class="name">
                        Twitter Analytic Service
                    </h3>
                    <h4 class="owner">
                        Freelance
                        <a class="link-opener" (click)="scrollToSection('rihamFreelanceExperience')" title="Click to view the experience">
                            <i class="fa-solid fa-link"></i>
                        </a>
                    </h4>
                    <div class="links">
                        <a class="link-opener">
                            <span>Cannot view this project</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>It is a local Twitter Analytic Service project from one of company in Saudi Arabia</li>
                    <li><strong>Technology</strong>: .NET, PostgreSQL, Entity Framework, Azure Data Studio</li>
                    <li>Used Twitter APIs to get the data such as users, tweets, retweets, and followers</li>
                    <li>Wrote optimized database query code to fetch and process millions of records</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="minorCollegeProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/alcohol-detector-vehicle-coltrolling.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Alcohol Detector with Vehicle Controlling and GPS Detection
                    </h3>
                    <h4 class="owner">
                        Capstone Project in College - BEX
                        <a class="link-opener" (click)="scrollToSection('collegeEducation')" title="Click to view the education">
                            <i class="fa-solid fa-link"></i>
                        </a>
                    </h4>
                    <div class="links">
                        <a class="link-opener" href="../../../assets/documents/minor_project_alcohol_detector.pdf" title="Click to view the Paper" target="_blank">
                            <span class="topic">Paper</span><i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/alcohol-detecting-vehicle' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Protype which demonstrates a vehicle stopping on smelling the alochol, buzzes the alarm, detects the coordindate of the location, sends SMS Notification to integrated phone number with GPS location</li>
                    <li>Wrote code in C to make ATMega32 working with LCD, GPS Module, GSM Module, Alcohol Sensor</li>
                    <li>Successfully defenced the project in the college to professors</li>
                    <li><strong>Technology and Devices</strong>: C, WinAVR, AVR Microcontroller (ATMEGA32), SIM800A GSM Module, Neo-6m GPS Module, 7805 IC, Alcohol Sensor, L293D Motor Driver IC</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="majorCollegeProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/major_project.jpg" />
                </div>
                <div class="right">
                    <h3 class="name">
                        IOT based Smart Mirror
                    </h3>
                    <h4 class="owner">
                        Capstone Project in College - BEX
                        <a class="link-opener" (click)="scrollToSection('collegeEducation')" title="Click to view the education">
                            <i class="fa-solid fa-link"></i>
                        </a>
                    </h4>
                    <div class="links">
                        <a class="link-opener" href="../../../assets/documents/major_project_iot_smart_mirror.pdf" title="Click to view the Paper" target="_blank">
                            <span class="topic">Paper</span><i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/iot-based-smart-mirror' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>Smart mirror which on recognizing the face shows the related datas such as weather, news based on newsportal selected by user, todo list</li>
                    <li>Created web application using Code Igniter (CI) and Admin LTE, which contains news portal selection system and to-do list</li>
                    <li>Wrote python code to detect face using Open CV library, and integrated Rasperry PI in the system</li>
                    <li>Successfully defenced the project in the college to professors</li>
                    <li>A small river named Duden flows by their place and supplies it with the necessary regelialia.</li>
                    <li><strong>Technology</strong>: Python, NumPy, Open CV, Raspberry Pi, PHP, Code Igniter, MySQL, Javascript, jQuery </li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="personalPortfolioProject">
            <div class="top-container">
                <div class="left">
                    <img src="../../../assets/images/projects/personal-profile-project.png" />
                </div>
                <div class="right">
                    <h3 class="name">
                        Portfolio Website
                    </h3>
                    <h4 class="owner">
                        Self Project
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/pks-portfolio' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A static responsive website created to show my detail resume</li>
                    <li><strong>Technology</strong>: Javascript, Typescript, Angular, HTML, SCSS</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="flutterChatProject">
            <div class="top-container">
                <div class="right">
                    <h3 class="name">
                        Flutter Chat Application
                    </h3>
                    <h4 class="owner">
                        Self Project
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/flutter-chat-app' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A demo mobile application to demonstrate chat features using SignalR</li>
                    <li><strong>Technology</strong>: Flutter, BLOC Architecture, SignalR</li>
                </ul>
            </div>
        </div>
        <div class="list-item" id="dotnetangularProject">
            <div class="top-container">
                <div class="right">
                    <h3 class="name">
                        .NET Web API and Angular Demo Project
                    </h3>
                    <h4 class="owner">
                        Self Project
                    </h4>
                    <div class="links">
                        <ng-container [ngTemplateOutlet]="githubLink" [ngTemplateOutletContext]="{ url:'https://github.com/prabinKshrestha/dotnet-angular-project' }"></ng-container>
                    </div>
                </div>
            </div>
            <div class="description-container">
                <ul>
                    <li>A demo project to show the design pattern of .NET and Angular (synced with each other)</li>
                    <li><strong>Technology</strong>: C#, .NET, Entity Framework, MSSQL, Angular</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #githubLink let-url="url">
    <a class="link-opener" [href]="url" target="_blank" title="Click to open the Git Repository">
        <span class="topic">Github</span><i class="fa-brands fa-git-alt"></i>
    </a>
</ng-template>
<ng-template #projectLink let-url="url">
    <a class="link-opener" [href]="url" target="_blank" title="Click to view the project">
        <span class="topic">View</span><i class="fa-solid fa-up-right-from-square"></i>
    </a>
</ng-template>
<ng-template #normalLink let-url="url">
    <a class="link-opener" [href]="url" target="_blank">
        <i class="fa-solid fa-up-right-from-square"></i>
    </a>
</ng-template>