.pks-extra-activity {
    .list-container {
        .list-item {
            display: flex;
            margin: 30px 0;
            .right {
                flex-grow: 1;
                .right-top {
                    display: flex;
                    .right-right {
                        flex-grow: 1;
                        p,
                        h3,
                        h4 {
                            margin: 0;
                        }
                        .category {
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: normal;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .link-opener {
                span {
                    font-size: 14px;
                }
            }
        }
    }
}