<div class="pks-extra-activity">
    <h2 class="section-title">Extra Activities</h2>
    <div class="list-container">
        <div class="list-item">
            <div class="left sub-topic-icon">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-left sub-topic-icon along-header">
                        <i class="fa-solid fa-layer-group"></i>
                    </div>
                    <div class="right-right">
                        <h3 class="category">Sports</h3>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li>
                            <strong>Coordinator</strong> of <strong>TU Vice-Chancellor Basketball Tournament</strong> - a nation wide basketball tournment participated by colleges affiliated with Tribhuvan University (TU)
                            <a class="link-opener" href="assets/images/extra-activities/basketball-coordinator.jpg" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                            </a>
                        </li>
                        <li><strong>Coordinator</strong> and <strong>Sub Coordinator</strong> of several other intra-college and inter-college basketball tournaments
                            <a class="link-opener" href="assets/images/extra-activities/basketball-subcoordinator.jpg" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                            </a>
                        </li>
                        <li><strong>Captain</strong> of College Basketball Team | Thapathali Campus | 2016-2019</li>
                        <li>Volunteered <strong>Coaching</strong> Girl Basketball Team | Thapathali Campus</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="left sub-topic-icon">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-left sub-topic-icon along-header">
                        <i class="fa-solid fa-layer-group"></i>
                    </div>
                    <div class="right-right">
                        <h3 class="category">Volunteer</h3>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li><strong>Volunteer</strong> of <strong>Tech Gyan V2.0</strong> organized at Thapathali Campus
                            <a class="link-opener" href="assets/images/extra-activities/tech-gyan-volunteer.jpg" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                            </a>
                        </li>
                        <li><strong>Judge</strong> of <strong>Information Communication Technology (ICT) Fair</strong> held at Lalitpur Secondary Boarding School (LMV)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>