.pks-skill {
    .skill-set {
        .skill-set-item {
            margin-bottom: 20px;
            .category {
                margin: 0;
                font-weight: bold;
                color: #3e64ff;
            }
            ul {
                margin-top: 0;
                .skill-items-set {
                    .skill-items {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0;
                        color: black;
                        font-weight: 500;
                        font-size: 16px;
                        span {
                            &:not(:last-child) {
                                &::after {
                                    content: '|';
                                    margin: 0 5px;
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        position: relative;
        .column {
            flex: 0 0 45%;
            max-width: 45%;
            position: relative;
            width: 100%;
            .progress-wrap {
                padding: 10px 0px;
                h3 {
                    font-size: 16px;
                    margin-bottom: 10px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #000;
                }
                .progress {
                    display: flex;
                    overflow: visible;
                    background: #e6e6e6;
                    height: 10px;
                    font-size: .75rem;
                    border-radius: 0.25rem;
                    .progress-bar {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        position: relative;
                        background: #3e64ff;
                        color: #000;
                        font-size: 12px;
                        line-height: 1.2;
                        font-weight: 600;
                        border-radius: 2px;
                        white-space: nowrap;
                        transition: width .6s ease;
                        overflow: visible;
                        span {
                            position: absolute;
                            color: #000;
                            bottom: 12px;
                            right: 0;
                            font-size: 12px;
                            font-weight: 500;
                            background-color: rgba(256, 256, 256, 0.7);
                        }
                    }
                }
            }
        }
    }
}