.pks-about-me {
    h2 {
        font-size: 50px;
        font-weight: 700;
        color: black;
        margin: 0;
    }
    .short-description {
        margin: 30px 0 40px 0;
    }
    .description {
        .description-row {
            margin-bottom: 10px;
            .row-label {
                font-weight: 600;
                color: #000;
                min-width: 150px;
                display: inline-block;
                &::after {
                    content: ':';
                }
            }
            .row-value {
                a {
                    text-decoration: none;
                    color: inherit;
                    &.mail-icon {
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}