<div class="pks-about-me">
    <h2 class="section-title">About me</h2>
    <p class="short-description">
        I am a passionate software engineer with hands-on experience, particularly focused on computer technology and artificial intelligence. 
        My career journey has been driven by an insatiable curiosity and a deep commitment to personal growth. 
        I eagerly embrace new challenges and emerging technologies, consistently expanding my skill set and staying at the forefront of the industry. 
        My work is characterized by a strong dedication to excellence and a relentless pursuit of problem-solving. 
        Beyond my role as a software engineer, I am a proactive advocate for pushing technological boundaries to drive meaningful progress and innovation.
    </p>
    <div class="description">
        <div class="description-row">
            <span class="row-label">Name</span>
            <span class="row-value">Prabin Kumar Shrestha</span>
        </div>
        <div class="description-row">
            <span class="row-label">Date of Birth</span>
            <span class="row-value">July 16, 1997</span>
        </div>
        <div class="description-row">
            <span class="row-label">Address</span>
            <span class="row-value">2-39 Prescott Street, St. John's, NL, A1C 3S5, Canada</span>
        </div>
        <div class="description-row">
            <span class="row-label">Email</span>
            <span class="row-value">prabin2026@gmail.com &nbsp;&nbsp;
                <a href="mailto:prabin2026@gmail.com" title="Send mail to Prabin Kumar Shrestha" class="mail-icon">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </span>
        </div>
        <div class="description-row">
            <span class="row-label">Phone</span>
            <span class="row-value">+1 709 327 5002</span>
        </div>
    </div>
</div>