<div class="pks-about-me">
    <h2 class="section-title">About me</h2>
    <p class="short-description">
        I am an energetic and ambitious person who has a strong desire to learn new things, with proven technical, organizational, and communication skills. I have been working since 2018 as full-stack software development and data management engineer.
        <br/><br/> I am always keen to research, study, learn, and work on new things to extend the volume and range of my academic and professional experience, and eventually develop my knowledge and potential.
    </p>
    <div class="description">
        <div class="description-row">
            <span class="row-label">Name</span>
            <span class="row-value">Prabin Kumar Shrestha</span>
        </div>
        <div class="description-row">
            <span class="row-label">Date of Birth</span>
            <span class="row-value">July 16, 1997</span>
        </div>
        <div class="description-row">
            <span class="row-label">Address</span>
            <span class="row-value">Talchikhel Satdobato Street, 15, Laltipur, Nepal</span>
        </div>
        <div class="description-row">
            <span class="row-label">Email</span>
            <span class="row-value">
                prabin2026@gmail.com &nbsp;&nbsp;
                <a href="mailto:prabin2026@gmail.com" title="Send mail to Prabin Kumar Shrestha" class="mail-icon">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </span>
        </div>
        <div class="description-row">
            <span class="row-label">Phone</span>
            <span class="row-value">+977 9843358599</span>
        </div>
    </div>
</div>